  /*** topbar ***/
    .top-bar {
    padding: 10px 0;
    }
    .top-right {
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 380px;
    margin-left: auto;
    }
    .call-heading {
    margin-bottom: 0px;
    }
    .lp-number {
    font-size: 20px;
    color: #fd7c47;
    }
    .lp-number:hover {
    text-decoration: none;
    color: #000;
    }
    .or-text {
    margin-top: 12px;
    font-size: 20px;
    }
    .btn-topbar {
    border: 0px;
    background-color: #fd7c47;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 5px;
    }
    
    
    /*** Slider ***/
    .lp-slider {
    background: #25344c;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 80px 0;
    background-image: url({{ asset('img/world-map.png')}});
    }
    .sub-heading {
    font-size: 24px;
    }
    .text-orange{
    color: #fd7c47;
    }
    .slider-heading {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    }
    .lp-slider p {
    color: #fff;
    }
    .lp-form {
    max-width: 382px;
    margin: 0 auto;
    background-color: #25344c;
    border: solid 3px #031a3e;
    padding: 15px;
    }
    .lp-form h3 {
    color: #fff;
    }
    .lp-form label {
    display: block;
    color: #fff;
    font-size: 17px;
    }
    .lp-form input {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
    }
    .lp-form .submit-btn {
    background-color: #fd7c47;
    border: 0;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    
    
    /*** Client ***/
    .lp-client {
    background-color: #f2f2f2;
    padding: 60px 0;
    }
    .main-heading {
    font-size: 45px;
    }
    
    
    /*** Services ***/
    .lp-services {
    padding: 60px 0;
    text-align: center;
    }
    .big-heading {
    font-size: 60px;
    }
    .bottom-services {
    padding-top: 25px;
    }
    .service-box {
    border: solid 1px #000;
    margin-bottom: 35px;
    padding: 20px;
    }
    .service-box h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    }
    .service-box img {
    max-width: 100px;
    }
    
    /***Learn Market ***/
    .lp-manage img {
    max-width: 290px;
    }
    
    
    /***Earn Money ***/
    .lp-earn {
    padding: 60px 0;
    }
    .lp-earn img {
    max-width: 270px;
    }
    
    
    /*** Testimonial ***/
    .lp-testimonial {
    background-color: #f2f2f2;
    padding: 60px 0;
    text-align: center;
    }
    .star-color {
    color: #f7941d;
    font-size: 25px;
    }
    .testimonial{
    max-width: 800px;
    margin: 25px auto 0;
    }
    
    
    /*** Quote ***/
    .lp-quote img {
    max-width: 60px;
    }
    
    .lp-quote {
    text-align: center;
    background: #25344c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    background-image: url({{ asset('img/world-map.png')}});
    }
    .quote-btn {
    border: 0px;
    font-size: 18px;
    color: #fff;
    background-color: #fd7c47;
    padding: 5px 10px;
    }
    .lp-quote p{
        color:#fff;
    }
    
    
    
    /*** Footer ***/
    .lp-footer {
    background: #282828;
    padding: 20px 0;
    }
    .lp-footer p{
        color:#fff;
    }
    .footer-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    }
    .footer-row .lp-number:hover {
    text-decoration: none;
    color: #fff;
    }
    
    
    @media only screen and (min-width: 768px) and (max-width: 991px){
        .footer-lastBox {
            max-width: 200px;
        }
    }
    
    
    @media only screen and (max-width: 767px) {    

        .footer-row{
            display:block;
        }
    }
    
    
    @media only screen and (max-width: 600px) {
        .sub-heading {
            font-size: 20px;
        }
        .slider-heading {
           font-size: 36px;
        }
        .main-heading {
           font-size: 28px; 
        }
        .big-heading {
           font-size: 32px;
        }
        .service-box h2 {
        font-size: 20px;
        }
    }
    
    
    @media only screen and (max-width: 390px) {
        .call-heading {
            font-size: 13px;
        }
        .lp-number {
            font-size:15px;
        }
        .btn-topbar {
            font-size: 12px;
        }
        .or-text {
            margin-top: 12px;
            font-size: 17px;
        }
    }
    
    @media only screen and (max-width: 768px) and (min-width: 767px) {
    .col-md-6 , .col-md-8 , .col-md-4{
        max-width:100%!important;
    }
            .top-right{
            margin:auto;
            max-width:100%!important;
        }
         
     }