    .topbar-slider {
    background: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:url(https://www.mavenup.com/public/img/social-media/seo-experts.png);

}
.slp-packages .card {
    background-color: #fff!important;
    border: 1px solid rgba(0,0,0,.125)!important;
    border-radius: 3px!important;
}
.sub-text{
    font-size:18px;
}
.topbar-slider .medium-heading{
    color:#fff;
}
.topbar-slider p{
    color:#fff;
    font-size:18px;
}
.black-overlay {
    background-color: #00000080;
    padding: 20px 0 60px;
}
.topbar-slider .sub-heading {
    color: #fff;
}
.icon-box {
    display: flex;
    align-items: center;
}
.left-icon p {
    font-size: 25px;
    font-weight: 700;
    color: #fd7c47;
    padding-right: 10px;
}
.slp-features {
    padding: 40px 0;
}
.slp-features img{
    width:100%;
    max-width: 350px;
}
.slp-services {
    padding: 40px 0;
    text-align: center;
    background-color: #f2f3f4;
}
.slp-services .service-box {
    border: 0px;
    margin-bottom: 0;
}
.slp-client {
    text-align: center;
    padding: 40px 0;
}
.slp-testimonial {
    padding: 50px 0;
    background-color: #f2f3f4;
    text-align: center;
}
.comment-sign {
    font-size: 100px;
    line-height: 0;
}
.comment-box .sub-heading {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.comment-box {
    padding-top: 30px;
}
.slp-deal {
    padding: 40px 0;
    text-align: center;
    background-color: #f2f3f4;
}

.slp-footer {
    background: #282828;
    padding: 10px 0;
}
.slp-footer p {
    color: #fff;
    text-align: center;
    margin-bottom:0;
}
.medium-heading {
    font-size: 27px;
    font-weight: 700;
}
.price-table {
    width: 100%;
    font-size: 15px;
}
.price-table th, .price-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.slp-packages {
    padding: 40px 0;
}
.slp-supporting button ,.slp-deal button, .slp-packages button, .slp-services button {
    background-color: #fd7c47;
    color: #fff;
    border: 0px;
    font-size: 17px;
    padding: 10px 10px;
}
.slp-supporting {
    padding: 40px 0;
        background-color: #f2f3f4;
}
.slp-supporting p {
    font-size: 17px;
}
.slp-supporting img {
    max-width: 350px;
    width:100%;
}
.sample {
    padding: 100px 0;
}
.accordion .btn-link{
    width: 100%;
    background-color: #fd7c47;
    color: #fff;
    font-size: 30px;
}
.seo-img{
    text-align:center;
}
.btn-link:hover {
    text-decoration: none!important;
}
	@media only screen and (max-width: 767px)  {
.site-logo{
    text-align:center;
}
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.whatsapp-icon{
    width:100%;
    max-width:35px;
}



	#table {
		display: table;
	 	font-size:17px;
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;
	 	box-sizing: border-box;

	 }

	 .caption {
	 	display: block;
	 	width: 100%;
	 	background: #64e0ef;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
	 	line-height: 55px;
	 	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	 	box-sizing: border-box;
	 }


	 .header-row {
	 	background: #25344c;
	 	color: #fff;
	 	font-size:17px;

	 }

	#table .row {
		display: table-row;
	}

	.cell {
		display: table-cell;
		
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
	}

	.primary {
		text-align: left;
	}


	input[type="radio"],
	input[type="checkbox"]{
		display: none;
	}


	@media only screen and (max-width: 760px)  {

		body {
			padding: 0;
		}

		#table {
			display: block;
			/*margin: 44px 0 0 0;*/
			font-size:15px;
		}

		.caption {
			position: fixed;
			top: 0;
			text-align: center;
			height: 44px;
			line-height: 44px;
			z-index: 5;
			border-bottom: 2px solid #999;
		}

		#table .row { 
			position: relative;
			display: block;
			border-bottom: 1px solid #ccc; 

		}

		.header-row {
			display: none;
		}
		
		.cell { 
			display: block;

			border: none;
			position: relative;
			height: 45px;
			line-height: 45px;
			text-align: left;
		}

		.primary:after {
			content: "";
			display: block;
			position: absolute;
			right:20px;
			top:18px;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #25344c;
			

		}

		.cell:nth-of-type(n+2) { 
			display: none; 
		}
        .lp-number:hover{
            color: #fd7c47;
        }


		input[type="radio"],
		input[type="checkbox"] {
			display: block;
			position: absolute;
			z-index: 1;
			width: 99%;
			height: 100%;
			opacity: 0;
		}
    
    input[type="radio"]:checked,
		input[type="checkbox"]:checked {
		  z-index: -1;
		}

		input[type="radio"]:checked ~ .cell,
		input[type="checkbox"]:checked ~ .cell {
			display: block;

			border-bottom: 1px solid #eee; 
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 120px;
			background: #fd7c47;
			border-radius: 10px;
			height: 25px;
			margin-right: 10px;
			font-size: 17px;
			line-height: 25px;
			text-align: center;
			color: white;

		}

		input[type="radio"]:checked ~ .primary,
		input[type="checkbox"]:checked ~ .primary  {
			border-bottom: 2px solid #999;
		}

		input[type="radio"]:checked ~ .primary:after,
		input[type="checkbox"]:checked ~ .primary:after {
	 		position: absolute;
			right:18px;
			top:22px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent; 
			border-top:10px solid #ccc;
			z-index: 2;
		}
	}
@media only screen and (max-width: 420px)  {
    #table {
			font-size:12px;
		}
}

